<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "expanded" ) }}
	{{ $style := resources.Get "style.scss" | resources.ToCSS $options }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	{{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
	{{ .Hugo.Generator }}
</head>
<body>
	<header class="page-header">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		<nav>
			<ul>
				{{ range .Site.Menus.main }}
				<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</header>
	<div class="contain-main">