	<aside>
		<div>
			<div>
				<ul>
					<li><a href="/books">All books</a></li>
					{{ range where .Site.Pages "Section" "subjects" }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
