	<article class="book-summary">
		{{ if .Params.thumbnail_of_book_cover }}
		<div class="thumb"><img role="presentation" src="{{ .Params.thumbnail_of_book_cover }}"></div>{{ end }}
		<div class="meta-group">
			<div class="book-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
			{{ with .Params.subtitle }}
			<div class="book-subtitle">{{ . }}</div>{{ end }}
			<div class="book-author">{{ .Params.author }}</div>
		</div>
	</article>