{{ partial "header.html" . }}
  <main>
    <h1 class="page-title">All Books</h1>
     {{ .Content }}
   
    {{ range .Pages }}
      {{ partial "summary.html" . }}
    {{ end }}

  </main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}

