{{ partial "header.html" . }}
	<main >
		<article class="book-detail">
			<div class="thumb"><img role="presentation" src="{{ .Params.thumbnail_of_book_cover }}"></div>
			<div class="meta-group">
			<header>
			<h1 id="book-title">{{ .Title }}</h1>
			{{ with .Site.Params.subtitle }}
			<h2 id="book-subtitle">{{ . }}</h2></header>{{ end }}
			<div class="author"><span>Author:</span> {{ .Params.author }}</div>
			<div class="publisher"><span>Publisher:</span> {{ .Params.publisher }}</div>
			<div class="citation_link"><span>Cite:</span> {{ .Params.citation_link }}</div>
			<div class="isbn"><span>ISBN:</span> {{ .Params.isbn }}</div>
			<div class="number_of_pages"><span>Number of pages:</span> {{ .Params.format }}</div>
			<div class="tags"><span>Subjects:</span>
				<ul >{{ range .Params.subjects }}
					<li><a href="{{ "/subjects/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}</ul></div>
			<div class="description"> {{ .Params.description }}</div>
			</div>
		</article>
		<div>{{ .Content }}</div>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}